<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>COL_FRIENDS - 시간표</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link href="css/feed.css" rel="stylesheet">
  <link href="css/what.css" rel="stylesheet">
  <link href="css/image.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <link href="css/profile.css" rel="stylesheet">
  <link href="css/addModal.css" rel="stylesheet">
  <link href="css/table.css" rel="stylesheet">
  <link href="css/schedules.css" rel="stylesheet">

  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-firestore.js"></script>
  
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fa fa-university"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Col_Friends</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/main">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>뉴스피드</span></a>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        화면
      </div>
      <!-- Nav Item - login -->
      <li class="nav-item">
          <a class="nav-link" href="/login">
            <i class="fa fa-fw fa-lock"></i>
            <span>로그인</span></a>
      </li>
      
      <!-- Nav Item - register -->
      <li class="nav-item">
          <a class="nav-link" href="/signup">
            <i class="fa fa-fw fa-user-plus"></i>
            <span>회원가입</span></a>
      </li>

      <!-- Nav Item - forgot-password -->
      <li class="nav-item">
          <a class="nav-link" href="forgot-password.html">
            <i class="fa fa-fw fa-unlock-alt"></i>
            <span>비밀번호 찾기</span></a>
      </li>

      <!-- Nav Item - schedule -->
      <li class="nav-item">
        <a class="nav-link" href="/schedules">
          <i class="fa fa-fw fa-calendar"></i>
          <span>시간표</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/board">
        <i class="fa fa-camera-retro"></i>
        <span>자유게시판</span></a>
    </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="검색할 아이디를 입력하세요!" aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">알람수</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  알람
                </h6>
                <a class="dropdown-item text-center small text-gray-500" href="#">알람 전체 보기</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-comments fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">채팅수</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  실시간채팅
                </h6>
                <a class="dropdown-item text-center small text-gray-500" href="#">메시지 전체 보기</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id=usersname1><%= name%></span>
                <img class="img-profile rounded-circle" src="https://support.c2cschools.com/s/cache/97/b3/97b3f264d2eea1f1540210b25ecde491.png" id="userimg">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/profile">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  개인정보
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  설정
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  활동 로그
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  로그아웃
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <ul class="navbar-nav sidebar accordion" id="accordionSidebar" background="none">

                <!-- End of Content Wrapper -->
              <div class="container-fluid">
                <table class="type09">
                    <thead>
                        <tr>
                            <th class="noday"></th>
                            <th class="noday"></th>
                            <th class="day" scope="cols">시간</th>
                            <th class="day" scope="cols">월요일</th>
                            <th class="day" scope="cols">화요일</th>
                            <th class="day" scope="cols">수요일</th>
                            <th class="day" scope="cols">목요일</th>
                            <th class="day" scope="cols">금요일</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr class="noNine">
                      <th>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <i class="fa fa-fw fa-plus"></i>
                            <span class="add_trigger">추가</span> 
                              <!-- 팝업 될 레이어 --> 
                              <div class="add_modal"> 
                                  <div class="add_modal-content"> 
                                     <span class="add_close-button">&times;</span> 
                                     <h1 class="title">시간표 추가</h1> 
                                     <form> 
                                        <dt>
                                            과목명 (필수)
                                            <input type="text" name="name" id="subject" placeholder="예) 캡스톤 디자인" maxlength="20" class="put">
                                        </dt> 
                                         <dt>
                                           교수님 성함
                                           <input type="text" name="name" id="pro" placeholder="예) 홍길동 교수님" maxlength="20" class="put">
                                         </dt>
                                         <dt>
                                           강의실
                                           <input type="text" name="name" id="place" placeholder="예) 공학관 801호" maxlength="20" class="put">
                                         </dt>
                                         <dt>요일</dt>
                                         <table>
                                           <tr id=checkk>
                                            <th><input type="checkbox" name="setDay" value="monday">월요일</th>
                                            <th><input type="checkbox" name="setDay" value="tuesday">화요일</th>
                                            <th><input type="checkbox" name="setDay" value="wednesday">수요일</th>
                                            <th><input type="checkbox" name="setDay" value="thursday">목요일</th>
                                            <th><input type="checkbox" name="setDay" value="friday">금요일</th>
                                          </tr>                
                                         </table>
                                         <dt>시간</dt>
                                         <table>
                                           <tr>
                                            <th><input type="checkbox" name="setTime" value="9">09:00 ~ 09:50</th>
                                            <th><input type="checkbox" name="setTime" value="10">10:00 ~ 10:50</th>
                                            <th><input type="checkbox" name="setTime" value="11">11:00 ~ 11:50</th>
                                           </tr>
                                           <tr>
                                              <th><input type="checkbox" name="setTime" value="12">12:00 ~ 12:50</th>
                                              <th><input type="checkbox" name="setTime" value="13">13:00 ~ 13:50</th>
                                              <th><input type="checkbox" name="setTime" value="14">14:00 ~ 14:50</th>
                                            </tr>
                                            <tr>
                                              <th><input type="checkbox" name="setTime" value="15">15:00 ~ 15:50</th>
                                              <th><input type="checkbox" name="setTime" value="16">16:00 ~ 16:50</th>
                                              <th><input type="checkbox" name="setTime" value="17">17:00 ~ 17:50</th>
                                            </tr>
                                            <tr>
                                              <th><input type="checkbox" name="setTime" value="18">18:00 ~ 18:50</th>
                                              <th><input type="checkbox" name="setTime" value="19">19:00 ~ 19:50</th>
                                              <th><input type="checkbox" name="setTime" value="20">20:00 ~ 20:50</th>
                                            </tr>
                                            <tr>
                                              <th><input type="checkbox" name="setTime" value="21">21:00 ~ 21:50</th>
                                              <th></th>
                                              <th><input type="checkbox" name="setTime" value="22">22:00 ~ 22:50</th>
                                            </tr>
                                         </table>
                                         <input type="button" id="add_cancel" value="취소"> 
                                         <input type="button" id="submit" value="저장" onclick="set()"> 
                                     </form> 
                                  </div> 
                              </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <i class="fa fa-fw fa-trash"></i>
                            <span class="del_trigger">삭제</span> 
                               <!-- 팝업 될 레이어 --> 
                               <div class="del_modal"> 
                                  <div class="del_modal-content"> 
                                     <span class="del_close-button">&times;</span> 
                                     <h1 class="title">시간표 삭제</h1> 
                                     <form action="" method="POST" onsubmit="return del();"> 
                                      <dt>요일</dt>
                                      <table>
                                        <tr id=checkk>
                                         <th><input type="checkbox" name="setDay" value="monday">월요일</th>
                                         <th><input type="checkbox" name="setDay" value="tuesday">화요일</th>
                                         <th><input type="checkbox" name="setDay" value="wednesday">수요일</th>
                                         <th><input type="checkbox" name="setDay" value="thursday">목요일</th>
                                         <th><input type="checkbox" name="setDay" value="friday">금요일</th>
                                       </tr>                
                                      </table> 
                                         <label></label>
                                         <dt>시간</dt>
                                         <table>
                                           <tr>
                                            <th><input type="checkbox" name="delTime" value="9">09:00 ~ 09:50</th>
                                            <th><input type="checkbox" name="delTime" value="10">10:00 ~ 10:50</th>
                                            <th><input type="checkbox" name="delTime" value="11">11:00 ~ 11:50</th>
                                           </tr>
                                           <tr>
                                              <th><input type="checkbox" name="delTime" value="12">12:00 ~ 12:50</th>
                                              <th><input type="checkbox" name="delTime" value="13">13:00 ~ 13:50</th>
                                              <th><input type="checkbox" name="delTime" value="14">14:00 ~ 14:50</th>
                                            </tr>
                                            <tr>
                                              <th><input type="checkbox" name="delTime" value="15">15:00 ~ 15:50</th>
                                              <th><input type="checkbox" name="delTime" value="16">16:00 ~ 16:50</th>
                                              <th><input type="checkbox" name="delTime" value="17">17:00 ~ 17:50</th>
                                            </tr>
                                            <tr>
                                              <th><input type="checkbox" name="delTime" value="18">18:00 ~ 18:50</th>
                                              <th><input type="checkbox" name="delTime" value="19">19:00 ~ 19:50</th>
                                              <th><input type="checkbox" name="delTime" value="20">20:00 ~ 20:50</th>
                                            </tr>
                                            <tr>
                                              <th><input type="checkbox" name="delTime" value="21">21:00 ~ 21:50</th>
                                              <th></th>
                                              <th><input type="checkbox" name="delTime" value="22">22:00 ~ 22:50</th>
                                            </tr>
                                         </table>
                                         <label></label> 
                                         <input type="button" id="del_cancel" value="취소"> 
                                         <input type="submit" id="delete" value="삭제"> 
                                     </form> 
                                  </div> 
                              </div>    
                        </li>
                      </th>
                      <th></th>
                      <th>
                        <div class="timeTh">
                            <div class="time">09:00 ~ 09:50</div>
                            <div class="time">10:00 ~ 10:50</div>
                            <div class="time">11:00 ~ 11:50</div>
                            <div class="time">12:00 ~ 12:50</div>
                            <div class="time">13:00 ~ 13:50</div>
                            <div class="time">14:00 ~ 14:50</div>
                            <div class="time">15:00 ~ 15:50</div>
                            <div class="time">16:00 ~ 16:50</div>
                            <div class="time">17:00 ~ 17:50</div>
                            <div class="time">18:00 ~ 18:50</div>
                            <div class="time">19:00 ~ 19:50</div>
                            <div class="time">20:00 ~ 20:50</div>
                            <div class="time">21:00 ~ 21:50</div>
                            <div class="time">22:00 ~ 22:50</div>
                        </div>
                      </th>
                      <!-- $('.moday' + selectedVal ).text(''); -->
                      <td>
                        <div class="monday">
                            <div class="dayTime monday9"> </div>
                            <div class="dayTime monday10"> </div>
                            <div class="dayTime monday11"> </div>
                            <div class="dayTime monday12"> </div>
                            <div class="dayTime monday13"> </div>
                            <div class="dayTime monday14"> </div>
                            <div class="dayTime monday15"> </div>
                            <div class="dayTime monday16"> </div>
                            <div class="dayTime monday17"> </div>
                            <div class="dayTime monday18"> </div>
                            <div class="dayTime monday19"> </div>
                            <div class="dayTime monday20"> </div>
                            <div class="dayTime monday21"> </div>
                            <div class="dayTime monday22"> </div>
                        </div>
                      </td>
                      <td>
                          <div class="tuesday">
                              <div class="dayTime tuesday9"> </div>
                              <div class="dayTime tuesday10"> </div>
                              <div class="dayTime tuesday11"> </div>
                              <div class="dayTime tuesday12"> </div>
                              <div class="dayTime tuesday13"> </div>
                              <div class="dayTime tuesday14">캡스톤디자인<br>정필성교수님<br>공학관805호 </div>
                              <div class="dayTime tuesday15">캡스톤디자인<br>정필성교수님<br>공학관805호 </div>
                              <div class="dayTime tuesday16">캡스톤디자인<br>정필성교수님<br>공학관805호 </div>
                              <div class="dayTime tuesday17">캡스톤디자인<br>정필성교수님<br>공학관805호 </div>
                              <div class="dayTime tuesday18"> </div>
                              <div class="dayTime tuesday19"> </div>
                              <div class="dayTime tuesday20"> </div>
                              <div class="dayTime tuesday21"> </div>
                              <div class="dayTime tuesday22"> </div>
                          </div>
                        </td>
                        <td>
                            <div class="wednesday">
                              <div class="dayTime wednesday9"> </div>
                              <div class="dayTime wednesday10">토익기초문법<br>양진규교수님<br>본관713호 </div>
                              <div class="dayTime wednesday11">토익기초문법<br>양진규교수님<br>본관713호 </div>
                              <div class="dayTime wednesday12"> </div>
                              <div class="dayTime wednesday13"> </div>
                              <div class="dayTime wednesday14">생태계와 환경<br>이은하교수님<br>공학관708호 </div>
                              <div class="dayTime wednesday15">생태계와 환경<br>이은하교수님<br>공학관708호 </div>
                              <div class="dayTime wednesday16"> </div>
                              <div class="dayTime wednesday17"> </div>
                              <div class="dayTime wednesday18"> </div>
                              <div class="dayTime wednesday19"> </div>
                              <div class="dayTime wednesday20"> </div>
                              <div class="dayTime wednesday21"> </div>
                              <div class="dayTime wednesday22"> </div>
                            </div>
                          </td>
                          <td>
                              <div class="thursdayt">
                                <div class="dayTime thursday9">앱 개발<br>진용화교수님<br>공학관813호 </div>
                                <div class="dayTime thursday10">앱 개발<br>진용화교수님<br>공학관813호 </div>
                                <div class="dayTime thursday11">앱 개발<br>진용화교수님<br>공학관813호 </div>
                                <div class="dayTime thursday12"> </div>
                                <div class="dayTime thursday13"> </div>
                                <div class="dayTime thursday14"> </div>
                                <div class="dayTime thursday15"> </div>
                                <div class="dayTime thursday16"> </div>
                                <div class="dayTime thursday17"> </div>
                                <div class="dayTime thursday18"> </div>
                                <div class="dayTime thursday19"> </div>
                                <div class="dayTime thursday20"> </div>
                                <div class="dayTime thursday21"> </div>
                                <div class="dayTime thursday22"> </div>
                              </div>
                            </td>
                            <td>
                              <div class="friday">
                                <div class="dayTime friday9"> </div>
                                <div class="dayTime friday10"> </div>
                                <div class="dayTime friday11"> </div>
                                <div class="dayTime friday12"> </div>
                                <div class="dayTime friday13"> </div>
                                <div class="dayTime friday14"> </div>
                                <div class="dayTime friday15"> </div>
                                <div class="dayTime friday16"> </div>
                                <div class="dayTime friday17"> </div>
                                <div class="dayTime friday18"> </div>
                                <div class="dayTime friday19"> </div>
                                <div class="dayTime friday20"> </div>
                                <div class="dayTime friday21"> </div>
                                <div class="dayTime friday22"> </div>
                              </div>
                            </td>
                    </tr>
                    </tbody>
                </table>
            </div>
          
              </ul>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">로그아웃하시겠습니까??</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">현재 세션을 종료 할 준비가 되면 아래 "로그아웃"을 선택하세요.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="/logout">로그아웃</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>
  <script type="text/javascript">
    var add_modal = document.querySelector(".add_modal"); 
    var add_trigger = document.querySelector(".add_trigger"); 
    var add_closeButton = document.querySelector(".add_close-button"); 
    var add_cancelButton = document.querySelector("#add_cancel");
    
    var del_modal = document.querySelector(".del_modal"); 
    var del_trigger = document.querySelector(".del_trigger"); 
    var del_closeButton = document.querySelector(".del_close-button"); 
    var del_cancelButton = document.querySelector("#del_cancel");

   function add_toggleModal() { 
        add_modal.classList.toggle("add_show-modal"); 
    }

    function del_toggleModal() { 
        del_modal.classList.toggle("del_show-modal"); 
    }

   add_trigger.addEventListener("click", add_toggleModal); 
   add_closeButton.addEventListener("click", add_toggleModal); 
   add_cancel.addEventListener("click", add_toggleModal); 
    
   del_trigger.addEventListener("click", del_toggleModal); 
   del_closeButton.addEventListener("click", del_toggleModal); 
   del_cancel.addEventListener("click", del_toggleModal); 
</script>
<script>
    var firebaseConfig = {
      apiKey: "AIzaSyBk05Mc1934883sY06pTT20l-zAe2m0InA",
      authDomain: "collefriends.firebaseapp.com",
      databaseURL: "https://collefriends.firebaseio.com",
      projectId: "collefriends",
      storageBucket: "collefriends.appspot.com",
      messagingSenderId: "845516350469",
      appId: "1:845516350469:web:832b984284d3549ce0e86c",
      measurementId: "G-P5RBZT6326"
    };
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

    var db = firebase.firestore();
    var dateobj = new Date();
    var date = dateobj.toLocaleString();
    var username = '<%=name%>';

    function set(){
      var subject = $("#subject").val();
      var pro = $("#pro").val();
      var place = $("#place").val();
      var chk_day = $("input:checkbox[name='setDay']:checked").val();
      var chk_time = $("input:checkbox[name='setTime']:checked").val();

      console.log(subject);

      db.collection(`timetable(${username})`).doc().set({
        Date:date,
        subject:subject,
        professor:pro,
        day:chk_day,
        time:chk_time  
      })
      .then(function() {
          window.alert("업로드 됐습니다.")
      })
      .catch(function() {
          window.alert("업로드 오류")
      })
    }

    function views() {
        var monday = ("#monday").attr('class');
        console.log(monday);
    }
    
    // var docTableinfo = db.collection(`timetable(${username})`).doc();
    // var doc = docBoardinfo.get()
    //     .then(doc => {
    //         var subject = doc.data().subject;
    //         var day = doc.data().day;
    //         var time = doc.data().time;

    //         if (day == $('#monday'))
    //     })
    
</script>

</body>

</html>
