@charset "utf-8";

table.type09 {
    border-collapse: collapse;
    line-height: 3;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 5%;
}
/* table.type09 tbody .btn{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: #033;
    font-weight: bold;
    
} */
table.type09 thead .day{
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.type09 thead .noday{
    padding: 30px;
    vertical-align: top;
    border-bottom: none;
}
table.type09 tbody .time{
    width: 180px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    vertical-align: top;
    border: 0.5px solid #036;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.type09 tbody .dayTime {
    width: 180px;
    height: 100px;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    vertical-align: top;
    border: 0.5px solid #036;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.type09 tbody .th {
    background: none;
}